@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --dark-blue-300:#0A3871;
    --inter-family:"Inter", sans-serif;
    --gray-500:#343A40;
    --gray-400:#495057;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F3F5FC;
}

.contenedor_principal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
}

.seccion_izquierda{
    padding-top: 40px;
    max-width: 120px;
    /* border-left: 1px solid;
    border-right: 1px solid; */
    height: 100vh;
    /* background-color: red; */
}

.seccion_central{
    /* background-color: yellow; */
    padding-top: 120px;
}

.seccion_central_txtarea{ 
    border: transparent;
    background-color: transparent;
    color: var(--dark-blue-300);
    font-size: 32px;
    width: 680px;
    height: 500px;
}

.seccion_central_txtarea::placeholder{
    color: var(--dark-blue-300);
    font-size: 32px;
}

.seccion_central_instrucciones{
    display: flex;
    gap: 8px;
    padding-bottom: 16px;
}

.seccion_central_contenedor_btn{
    display: flex;
    gap: 24px;
}

.seccion_central_btn_encriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    color: white;
    background-color: var(--dark-blue-300);
    cursor: pointer;
}

.seccion_central_btn_desencriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    color: var(--dark-blue-300);
    background-color: transparent;
    
}

.seccion_derecha{
    display: flex;
    align-items: center;
    background-color: white;
    width: 400px;
    height: 750px;
    border-radius: 32px;
}

.seccion_derecha_vacia{
    /* height: 100vh; */
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    text-align: center;
}

.seccion_derecha_vacia_contenedor_texto{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 32px;
}

.seccion_derecha_vacia_muñeco{
    width: 336px;
    height: 304px;
}

.seccion_derecha_vacia_subtitulo{
    font-size: 24px;
    font-weight: bold;
    font-family: var(--inter-family);
    color: var(--gray-500);
}

.seccion_derecha_vacia_descripcion{
    font-size: 16px;
    font-family: var(--inter-family);
}

.seccion_derecha_contenido{
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.seccion_derecha_contenido_contenedor_texto{
    width: 336px;
    height: 600px;
}

.seccion_derecha_contenido_texto_encriptado{
    font-family: var(--inter-family);
    font-size: 24px;
    color: var(--gray-400);
}

.seccion_derecha_btn_copiar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    color: var(--dark-blue-300);
    background-color: transparent;
    cursor: pointer;
}